@font-face {
    font-family: Atkinson Hyperlegible;
    src: url("resources/Atkinson-Hyperlegible-Regular-102a.woff2");
}

body{
    alignment: center;
    text-align: center;
    background-color: wheat;
    font-size: 20px;
    font-family: "Atkinson Hyperlegible";
}

input{
    font-size: 20px;
    font-family: "Atkinson Hyperlegible";
}

button{
    border-color: black;
    padding: 20px 20px;
    background-color: #00ff00;
    border-radius: 15px;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

.gameContainer{
    background-color: aqua;
    width: 650px;
    height: 500px;
    margin: auto;
    position: relative;

}

.gameScreen{
    position: absolute;
}

#startScreen{
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 650px;
    height: 500px;



}

#number{
    visibility: hidden;
    background-color: aqua;
    z-index: 2;
    width: 650px;
    height: 500px;
}

#startGameButton{
    align-content: center;
    vertical-align: center;
}

#answer{
    visibility: hidden;
    alignment: center;
    width: 650px;
    height: 500px;
}

#successScreen{
    visibility: hidden;
    alignment: center;
    width: 650px;
    height: 500px;
}

#failureScreen{
    visibility: hidden;
    alignment: center;
    width: 650px;
    height: 500px;
}
